---
---
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
  color: #515151;
  background-color: #fbfbfb;
  font-size: 14.666px;
  font-size: calc(14.666px + (26.666 - 14.666) / (1280 - 320) * (100vw - 320px));
  width: 100%;
  max-width: 28em;
  padding: .5em 1em 4em 1em
}

li {
  margin: .75em 0;
}

a:link, a:visited {
  color: #893ff4;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}
